{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": [ 2, { baseIndentLevel: 1 } ],
    "custom-property-empty-line-before": "never",
    "comment-empty-line-before": "always",
    "color-hex-case": "upper",
    "no-descending-specificity": null
  }
}
